flows.json
[
    {
        "id": "8e42a2bf.e54b8",
        "type": "tab",
        "label": "Visualize",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3658f92f65d797b7",
        "type": "tab",
        "label": "Table",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e1d661b05780e560",
        "type": "tab",
        "label": "Query",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "251e28d43075d4af",
        "type": "tab",
        "label": "objectpath data input",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "28ebc073.75bf28",
        "type": "tab",
        "label": "Cameras",
        "disabled": false,
        "info": ""
    },
    {
        "id": "136ec2e31eae94eb",
        "type": "tab",
        "label": "Image capture",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b12a9cc543227135",
        "type": "mongodb",
        "hostname": "mongodb",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "log",
        "name": "mongo"
    },
    {
        "id": "a36251364e32fe2d",
        "type": "ui_group",
        "name": "Query",
        "tab": "765edfe7b77b99a3",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "765edfe7b77b99a3",
        "type": "ui_tab",
        "name": "Path Analyzer",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cf358000.c6341",
        "type": "ui_group",
        "name": "View",
        "tab": "765edfe7b77b99a3",
        "order": 2,
        "disp": false,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "72dd22b22fef4056",
        "type": "ui_group",
        "name": "List",
        "tab": "765edfe7b77b99a3",
        "order": 3,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "481e5d94a9b5ab07",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Object Path Analyzer",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f1981c9fed6058c8",
        "type": "ui_tab",
        "name": "Cameras",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8ac77bf8599762bf",
        "type": "ui_group",
        "name": "Add Camera",
        "tab": "f1981c9fed6058c8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "21eb74a18b2872fc",
        "type": "ui_group",
        "name": "Cameras",
        "tab": "f1981c9fed6058c8",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "260e45057b94b302",
        "type": "mqtt-broker",
        "name": "Broker",
        "broker": "smqtt.juhlin.me",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0c3b4ea904d339eb",
        "type": "axis-preset",
        "name": "Cameras",
        "address": "",
        "protocol": "http"
    },
    {
        "id": "daa2daa3.3b2fb8",
        "type": "ui_template",
        "z": "8e42a2bf.e54b8",
        "group": "cf358000.c6341",
        "name": "Visualize",
        "order": 2,
        "width": "13",
        "height": "13",
        "format": "<link rel=\"stylesheet\" href=\"/css/imgareaselect-default.css\">\n<script src=\"/js/jquery.imgareaselect.js\"></script>\n\n<div id=\"{{'view_'+$id}}\" style=\"width:640px; height:360px\">\n    <div id=\"{{'frame_'+$id}}\" style=\"width:100%; height:100%; position:relative\">\n        <img id=\"{{'image_'+$id}}\" class=\"card-img-top\" src=\"\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\">\n        <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n    </div>\n</div>\n\n<script>\nvar ctx = null;\nvar imageWidth = 640;\nvar imageHeight = 360;\nvar transperancy = 1.0;\n\nvar selectionArea = null;\nvar areaName = null;\n\nfunction ClearCanvas() {\n    if(ctx) {\n        ctx.beginPath();\n        ctx.clearRect(0, 0, 1000, 1000 );\n        ctx.stroke();\n    }\n\n    if( selectionArea )\n        selectionArea.setOptions({ hide: true });\n    selectionArea = null;        \n}\n\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if( !msg || !msg.topic ||  typeof msg.topic === undefined || !msg.payload )\n            return;\n        console.log(msg.topic);\n\n\n        if( msg.topic === \"transperancy\" ) {\n            transperancy = parseFloat(msg.payload) / 100.0;\n        }\n\n        if( msg.topic === \"camera\") {\n            imageWidth = 640;\n            imageHeight = 360;\n            \n            if( msg.payload.image.aspect === \"1:1\") {\n                imageWidth = 640;\n                imageHeight = 640;\n            }\n\n            if( msg.payload.image.aspect === \"4:3\") {\n                imageWidth = 640;\n                imageHeight = 480;\n            }\n\n\n            $(\"#view_\" + scope.$id).css(\"width\",imageWidth + \"px\");\n            $(\"#view_\" + scope.$id).css(\"height\",imageHeight + \"px\");\n            \n            if( msg.payload.image.jpeg)\n                $(\"#image_\"+scope.$id).attr(\"src\", 'data:image/jpeg;base64, ' + msg.payload.image.jpeg);\n            else\n                $(\"#image_\"+scope.$id).attr(\"src\", 'data:image/jpeg;base64, ');\n            \n            if(!ctx) {\n                canvas = document.getElementById(\"canvas_\"+scope.$id);\n                ctx = canvas.getContext(\"2d\");\n            }\n            ClearCanvas();\n            return;\n        }\n\n        if( msg.topic === \"image\") {\n            if( msg.payload.base64)\n                $(\"#image_\"+scope.$id).attr(\"src\", 'data:image/jpeg;base64, ' + msg.payload.base64);\n            return;\n        }\n\n\n        if( msg.topic === \"paths\" ) {\n            if(!ctx)\n                return;\n            ClearCanvas();\n        \tif( msg.payload.length > 5 )\n            \tctx.globalAlpha = transperancy;\n            else\n                ctx.globalAlpha = 1.0;\n                \n            msg.payload.forEach(function(object){\n                var first = object.path[0];\n                var last = object.path[object.path.length-1];\n\n            \tctx.beginPath();\n            \tctx.lineWidth = 3;\n            \tctx.strokeStyle = '#00FF00';\n            \tctx.moveTo(first.x, first.y );\n            \tctx.arc(first.x, first.y, 3, 0, 2 * Math.PI);\n            \tctx.stroke();\t\n\n            \tctx.beginPath();\n            \tctx.strokeStyle = '#FFFF00';\n            \tctx.moveTo(object.path[0].x, object.path[0].y );\n            \tfor( var i = 1; i < object.path.length; i++ )\n            \t\tctx.lineTo(object.path[i].x,object.path[i].y );\n            \tctx.lineTo(last.x,last.y );\n            \tctx.stroke();\t\n            \n            \tctx.beginPath();\n            \tctx.lineWidth = 3;\n            \tctx.strokeStyle = '#FF0000';\n            \tctx.moveTo(last.x, last.y );\n            \tctx.arc(last.x, last.y, 3, 0, 2 * Math.PI);\n            \tctx.stroke();\t\n            });\n\t\t\treturn;\n        }\n\n        if( msg.topic === \"reset\" ) {\n            ClearCanvas();\n//            $(\"#image_\"+scope.$id).attr(\"src\", 'data:image/jpeg;base64, ');\n\t\t\treturn;\n        }\n\n\t\tif( msg.topic === \"birth\" || msg.topic === \"death\" ) {\n\t\t    areaName = msg.topic;\n\t\t    if(!selectionArea) {\n    \t\t\tselectionArea = $(\"#image_\"+scope.$id).imgAreaSelect( {\n    \t\t\t\tx1: parseInt(msg.payload.x1 / 1000 * imageWidth),\n    \t\t\t\tx2: parseInt(msg.payload.x2 / 1000 * imageWidth),\n    \t\t\t\ty1: parseInt(msg.payload.y1 / 1000 * imageHeight),\n    \t\t\t\ty2: parseInt(msg.payload.y2 / 1000 * imageHeight),\n    \t\t\t\tshow: true, hide:false, minHeight: 5, minWidth: 5, handles: true, movable: true, resizable: true, instance:true,\n    \t\t\t\tonSelectEnd: function( image, area ) {\n    \t\t\t\t    var area = {\n                            x1: parseInt((area.x1/imageWidth) * 1000),\n                            x2: parseInt((area.x2/imageWidth) * 1000),\n                            y1: parseInt((area.y1/imageHeight) * 1000),\n                            y2: parseInt((area.y2/imageHeight) * 1000)\n    \t\t\t\t    }\n    \t\t\t\t\tscope.send({\n    \t\t\t\t\t\ttopic: areaName,\n    \t\t\t\t\t\tpayload: area\n    \t\t\t\t\t});\n    \t\t\t\t}\n    \t\t\t});\n\t\t    }\n\t\t    selectionArea.setSelection(\n\t\t        parseInt(msg.payload.x1 / 1000 * imageWidth),\n    \t\t\tparseInt(msg.payload.y1 / 1000 * imageHeight),\n\t\t\t\tparseInt(msg.payload.x2 / 1000 * imageWidth),\n    \t\t\tparseInt(msg.payload.y2 / 1000 * imageHeight)\n\t\t    );\n            selectionArea.setOptions({ show: true });\n\t\t}\n    });\n})(scope);\n</script>        \n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 580,
        "y": 340,
        "wires": [
            [
                "35a0d50b.e9c2d2"
            ]
        ]
    },
    {
        "id": "35a0d50b.e9c2d2",
        "type": "function",
        "z": "8e42a2bf.e54b8",
        "name": "Set birth and death filter",
        "func": "flow.set(msg.topic,msg.payload);\nreturn msg;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "858629a775862904",
        "type": "function",
        "z": "8e42a2bf.e54b8",
        "name": "Filter and build list",
        "func": "msg.topic = \"paths\";\nvar paths = flow.get(\"paths\");\nvar birth = flow.get(\"birth\") || false;\nvar death = flow.get(\"death\") || false;\n\nvar list = [];\n\npaths.forEach(function(object){\n    if( birth ) {\n        var first = object.path[0];\n        if( first.x < birth.x1 || first.x > birth.x2)\n            return;\n        if( first.y < birth.y1 || first.y > birth.y2 )\n            return;\n    }\n    \n    if( death ) {\n        var last = object.path[object.path.length-1];\n        if( last.x < death.x1 || last.x > death.x2) \n            return;\n        if( last.y < death.y1 || last.y > death.y2 )\n            return;\n    }\n    \n    var d = new Date(object.timestamp);\n    var localTime = d.getFullYear()+\"-\"+('0'+(d.getMonth()+1)).substr(-2,2)+\"-\"+('0'+d.getDate()).substr(-2,2) + \" \" +('0'+d.getHours()).substr(-2,2)+\":\"+('0'+d.getMinutes()).substr(-2,2);\n    item = {\n        id: object.id,\n        device: object.device,\n        timestamp: object.timestamp,\n        time: localTime,\n        age: object.age,\n        distance: object.distance,\n        path:object.path,\n        type: object.type,\n        speed: object.maxSpeed || parseInt((object.distance/object.age))\n    }\n    list.push(item);\n});\n\nmsg.payload = list;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 80,
        "wires": [
            [
                "c44452e5e918e018"
            ]
        ]
    },
    {
        "id": "c44452e5e918e018",
        "type": "sort",
        "z": "8e42a2bf.e54b8",
        "name": "Sort by time",
        "order": "ascending",
        "as_num": true,
        "target": "payload",
        "targetType": "msg",
        "msgKey": "timestamp",
        "msgKeyType": "jsonata",
        "seqKey": "payload",
        "seqKeyType": "msg",
        "x": 870,
        "y": 80,
        "wires": [
            [
                "8d67fcc0883d7597"
            ]
        ]
    },
    {
        "id": "7900abcef297adaf",
        "type": "link in",
        "z": "8e42a2bf.e54b8",
        "name": "Refresh paths",
        "links": [
            "135f10d132a1ada9"
        ],
        "x": 525,
        "y": 120,
        "wires": [
            [
                "858629a775862904"
            ]
        ]
    },
    {
        "id": "8d67fcc0883d7597",
        "type": "link out",
        "z": "8e42a2bf.e54b8",
        "name": "Paths",
        "mode": "link",
        "links": [
            "570704ac76cf97e0",
            "7e51d2d2d21bb540",
            "b8e9b7c91f7e8d22"
        ],
        "x": 985,
        "y": 80,
        "wires": []
    },
    {
        "id": "5557b9375b57ee18",
        "type": "ui_slider",
        "z": "8e42a2bf.e54b8",
        "name": "",
        "label": "Heapmap strength",
        "tooltip": "",
        "group": "cf358000.c6341",
        "order": 1,
        "width": "10",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "transperancy",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": "1",
        "className": "",
        "x": 210,
        "y": 600,
        "wires": [
            [
                "25ce79e8a8d5b1d6"
            ]
        ]
    },
    {
        "id": "2f0a52838255cc47",
        "type": "delay",
        "z": "8e42a2bf.e54b8",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 610,
        "y": 640,
        "wires": [
            [
                "135f10d132a1ada9"
            ]
        ]
    },
    {
        "id": "135f10d132a1ada9",
        "type": "link out",
        "z": "8e42a2bf.e54b8",
        "name": "",
        "mode": "link",
        "links": [
            "7900abcef297adaf",
            "fb839fad.d21a9"
        ],
        "x": 755,
        "y": 640,
        "wires": []
    },
    {
        "id": "c6e5e37b4571ea19",
        "type": "change",
        "z": "8e42a2bf.e54b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "paths",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "paths",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 80,
        "wires": [
            [
                "858629a775862904"
            ]
        ]
    },
    {
        "id": "66f0746eb571a7d8",
        "type": "comment",
        "z": "8e42a2bf.e54b8",
        "name": "Objectpaths",
        "info": "",
        "x": 190,
        "y": 80,
        "wires": []
    },
    {
        "id": "7f05e69e25483333",
        "type": "comment",
        "z": "8e42a2bf.e54b8",
        "name": "Camera",
        "info": "",
        "x": 170,
        "y": 340,
        "wires": []
    },
    {
        "id": "484c227410fafc31",
        "type": "link in",
        "z": "8e42a2bf.e54b8",
        "name": "",
        "links": [
            "0c56474b6222ab1b",
            "b63654d926b2c101"
        ],
        "x": 285,
        "y": 340,
        "wires": [
            [
                "daa2daa3.3b2fb8"
            ]
        ]
    },
    {
        "id": "570704ac76cf97e0",
        "type": "link in",
        "z": "8e42a2bf.e54b8",
        "name": "",
        "links": [
            "8d67fcc0883d7597",
            "7c8beca0.5c0cdc",
            "72534bcb5e75607f"
        ],
        "x": 285,
        "y": 380,
        "wires": [
            [
                "daa2daa3.3b2fb8"
            ]
        ]
    },
    {
        "id": "c80ee327f6ef1fad",
        "type": "comment",
        "z": "8e42a2bf.e54b8",
        "name": "Paths",
        "info": "",
        "x": 170,
        "y": 380,
        "wires": []
    },
    {
        "id": "a4ecf8685923ddb8",
        "type": "ui_button",
        "z": "8e42a2bf.e54b8",
        "name": "",
        "group": "a36251364e32fe2d",
        "order": 12,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Birth",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "picture_in_picture",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 570,
        "y": 380,
        "wires": [
            [
                "941e52e5b6735510"
            ]
        ]
    },
    {
        "id": "941e52e5b6735510",
        "type": "function",
        "z": "8e42a2bf.e54b8",
        "name": "flow.birth",
        "func": "area = flow.get(\"birth\");\n\nif( !area )\n    area = {\n        x1: 250,\n        x2: 750,\n        y1: 250,\n        y2: 750\n    };\n\nflow.set(\"birth\",area);\n\nmsg.topic = \"birth\";\nmsg.payload = area;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 380,
        "wires": [
            [
                "b63654d926b2c101"
            ]
        ]
    },
    {
        "id": "304eb7616e9b58cc",
        "type": "ui_button",
        "z": "8e42a2bf.e54b8",
        "name": "",
        "group": "a36251364e32fe2d",
        "order": 13,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Death",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "picture_in_picture_alt",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 570,
        "y": 420,
        "wires": [
            [
                "f71720c951dca45c"
            ]
        ]
    },
    {
        "id": "f71720c951dca45c",
        "type": "function",
        "z": "8e42a2bf.e54b8",
        "name": "flow.death",
        "func": "area = flow.get(\"death\");\n\nif( !area )\n    area = {\n        x1: 250,\n        x2: 750,\n        y1: 250,\n        y2: 750\n    };\n\nflow.set(\"death\",area);\n\nmsg.topic = \"death\";\nmsg.payload = area;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 420,
        "wires": [
            [
                "b63654d926b2c101"
            ]
        ]
    },
    {
        "id": "f1685b5b0e483973",
        "type": "link in",
        "z": "8e42a2bf.e54b8",
        "name": "",
        "links": [
            "d36cdd369540809b"
        ],
        "x": 285,
        "y": 300,
        "wires": [
            [
                "743c2f07d2992fbb"
            ]
        ]
    },
    {
        "id": "5243125f10d45989",
        "type": "comment",
        "z": "8e42a2bf.e54b8",
        "name": "Reset",
        "info": "",
        "x": 170,
        "y": 300,
        "wires": []
    },
    {
        "id": "743c2f07d2992fbb",
        "type": "change",
        "z": "8e42a2bf.e54b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "paths",
                "pt": "flow",
                "to": "[]",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "birth",
                "pt": "flow",
                "to": "null",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "death",
                "pt": "flow",
                "to": "null",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 300,
        "wires": [
            [
                "daa2daa3.3b2fb8"
            ]
        ]
    },
    {
        "id": "78774371c05af141",
        "type": "comment",
        "z": "8e42a2bf.e54b8",
        "name": "Refresh",
        "info": "",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "25ce79e8a8d5b1d6",
        "type": "change",
        "z": "8e42a2bf.e54b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "transperancy",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 600,
        "wires": [
            [
                "2f0a52838255cc47",
                "73ceda1a4bf104c4"
            ]
        ]
    },
    {
        "id": "7fc58d7f5e5bdd48",
        "type": "link in",
        "z": "8e42a2bf.e54b8",
        "name": "",
        "links": [
            "73ceda1a4bf104c4"
        ],
        "x": 285,
        "y": 420,
        "wires": [
            [
                "daa2daa3.3b2fb8"
            ]
        ]
    },
    {
        "id": "87f3ceeae6c202f5",
        "type": "comment",
        "z": "8e42a2bf.e54b8",
        "name": "Transperancy",
        "info": "",
        "x": 190,
        "y": 420,
        "wires": []
    },
    {
        "id": "73ceda1a4bf104c4",
        "type": "link out",
        "z": "8e42a2bf.e54b8",
        "name": "Transperancy",
        "mode": "link",
        "links": [
            "7fc58d7f5e5bdd48"
        ],
        "x": 555,
        "y": 600,
        "wires": []
    },
    {
        "id": "90f16a024c17549d",
        "type": "comment",
        "z": "8e42a2bf.e54b8",
        "name": "Transperancy",
        "info": "",
        "x": 650,
        "y": 600,
        "wires": []
    },
    {
        "id": "b63654d926b2c101",
        "type": "link out",
        "z": "8e42a2bf.e54b8",
        "name": "",
        "mode": "link",
        "links": [
            "484c227410fafc31"
        ],
        "x": 945,
        "y": 380,
        "wires": []
    },
    {
        "id": "a24a72a081d7f3c6",
        "type": "comment",
        "z": "8e42a2bf.e54b8",
        "name": "Data",
        "info": "",
        "x": 1010,
        "y": 380,
        "wires": []
    },
    {
        "id": "d76d397809a0bab9",
        "type": "link in",
        "z": "8e42a2bf.e54b8",
        "name": "",
        "links": [
            "d5e5d4deb367ce9a"
        ],
        "x": 305,
        "y": 80,
        "wires": [
            [
                "c6e5e37b4571ea19"
            ]
        ]
    },
    {
        "id": "78c932646506742f",
        "type": "comment",
        "z": "8e42a2bf.e54b8",
        "name": "Paths",
        "info": "",
        "x": 1090,
        "y": 80,
        "wires": []
    },
    {
        "id": "597076107473225f",
        "type": "link in",
        "z": "8e42a2bf.e54b8",
        "name": "",
        "links": [
            "f176d46fa40bd346"
        ],
        "x": 285,
        "y": 460,
        "wires": [
            [
                "daa2daa3.3b2fb8"
            ]
        ]
    },
    {
        "id": "9d28b370db31b5ba",
        "type": "comment",
        "z": "8e42a2bf.e54b8",
        "name": "image",
        "info": "",
        "x": 170,
        "y": 460,
        "wires": []
    },
    {
        "id": "5daf2b19c0a38957",
        "type": "comment",
        "z": "8e42a2bf.e54b8",
        "name": "Refresh",
        "info": "",
        "x": 830,
        "y": 640,
        "wires": []
    },
    {
        "id": "abfe81e068d09a16",
        "type": "link out",
        "z": "3658f92f65d797b7",
        "name": "",
        "links": [
            "fb839fad.d21a9",
            "570704ac76cf97e0"
        ],
        "x": 1095,
        "y": 100,
        "wires": []
    },
    {
        "id": "0c6467ad366d2ecd",
        "type": "ui_table",
        "z": "3658f92f65d797b7",
        "group": "72dd22b22fef4056",
        "name": "",
        "order": 0,
        "width": "12",
        "height": "13",
        "columns": [
            {
                "field": "time",
                "title": "Time",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "distance",
                "title": "Distance (%)",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "age",
                "title": "Age (s)",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "type",
                "title": "Type",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "speed",
                "title": "Speed",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 470,
        "y": 100,
        "wires": [
            [
                "44f2f0f64df1d55a",
                "612d445635fd947b"
            ]
        ]
    },
    {
        "id": "5579e37eb7dfda73",
        "type": "change",
        "z": "3658f92f65d797b7",
        "name": "Reset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "0c6467ad366d2ecd"
            ]
        ]
    },
    {
        "id": "44f2f0f64df1d55a",
        "type": "function",
        "z": "3658f92f65d797b7",
        "name": "Find",
        "func": "msg.device = msg.payload.device;\nmsg.payload = {\n    device: msg.payload.device,\n    timestamp: msg.payload.timestamp\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 100,
        "wires": [
            [
                "c833a04ff5aabf63"
            ]
        ]
    },
    {
        "id": "f8ef842f3f4ec6e2",
        "type": "change",
        "z": "3658f92f65d797b7",
        "name": "Paths",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "paths",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 100,
        "wires": [
            [
                "abfe81e068d09a16"
            ]
        ]
    },
    {
        "id": "47f2b2f8b9b55adb",
        "type": "change",
        "z": "3658f92f65d797b7",
        "name": "Hits",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.length",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 220,
        "wires": [
            [
                "7d7ced935411a561"
            ]
        ]
    },
    {
        "id": "7d7ced935411a561",
        "type": "ui_text",
        "z": "3658f92f65d797b7",
        "group": "72dd22b22fef4056",
        "order": 6,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Count",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 490,
        "y": 220,
        "wires": []
    },
    {
        "id": "20c304fad2479a3c",
        "type": "change",
        "z": "3658f92f65d797b7",
        "name": "Reset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 260,
        "wires": [
            [
                "7d7ced935411a561"
            ]
        ]
    },
    {
        "id": "b8e9b7c91f7e8d22",
        "type": "link in",
        "z": "3658f92f65d797b7",
        "name": "",
        "links": [
            "8d67fcc0883d7597"
        ],
        "x": 235,
        "y": 220,
        "wires": [
            [
                "47f2b2f8b9b55adb"
            ]
        ]
    },
    {
        "id": "5c1757bec784e133",
        "type": "link in",
        "z": "3658f92f65d797b7",
        "name": "",
        "links": [
            "0c56474b6222ab1b",
            "3bd482b9089e81c3"
        ],
        "x": 235,
        "y": 140,
        "wires": [
            [
                "5579e37eb7dfda73"
            ]
        ]
    },
    {
        "id": "adb4ba1feb59f351",
        "type": "comment",
        "z": "3658f92f65d797b7",
        "name": "Reset",
        "info": "",
        "x": 130,
        "y": 140,
        "wires": []
    },
    {
        "id": "c833a04ff5aabf63",
        "type": "mongodb in",
        "z": "3658f92f65d797b7",
        "mongodb": "b12a9cc543227135",
        "name": "",
        "collection": "objectpath",
        "operation": "find",
        "x": 790,
        "y": 100,
        "wires": [
            [
                "f8ef842f3f4ec6e2"
            ]
        ]
    },
    {
        "id": "8e5c49cbc14c16b0",
        "type": "comment",
        "z": "3658f92f65d797b7",
        "name": "Paths",
        "info": "",
        "x": 1170,
        "y": 100,
        "wires": []
    },
    {
        "id": "7e51d2d2d21bb540",
        "type": "link in",
        "z": "3658f92f65d797b7",
        "name": "",
        "links": [
            "8d67fcc0883d7597"
        ],
        "x": 235,
        "y": 100,
        "wires": [
            [
                "0c6467ad366d2ecd"
            ]
        ]
    },
    {
        "id": "f7c162d4a015c536",
        "type": "comment",
        "z": "3658f92f65d797b7",
        "name": "Data",
        "info": "",
        "x": 130,
        "y": 100,
        "wires": []
    },
    {
        "id": "cb5f057e3a19bd0c",
        "type": "link in",
        "z": "3658f92f65d797b7",
        "name": "",
        "links": [
            "0c56474b6222ab1b",
            "3bd482b9089e81c3"
        ],
        "x": 235,
        "y": 260,
        "wires": [
            [
                "20c304fad2479a3c"
            ]
        ]
    },
    {
        "id": "db457d586a8565b9",
        "type": "comment",
        "z": "3658f92f65d797b7",
        "name": "Reset",
        "info": "",
        "x": 130,
        "y": 260,
        "wires": []
    },
    {
        "id": "851122fd6e4dee87",
        "type": "comment",
        "z": "3658f92f65d797b7",
        "name": "Data",
        "info": "",
        "x": 130,
        "y": 220,
        "wires": []
    },
    {
        "id": "612d445635fd947b",
        "type": "function",
        "z": "3658f92f65d797b7",
        "name": "Find",
        "func": "msg.device = msg.payload.device;\nmsg.payload = {\n    device: msg.payload.device,\n    id: msg.payload.id\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 140,
        "wires": [
            [
                "6a4a0749f5e736c1"
            ]
        ]
    },
    {
        "id": "6a4a0749f5e736c1",
        "type": "mongodb in",
        "z": "3658f92f65d797b7",
        "mongodb": "b12a9cc543227135",
        "name": "",
        "collection": "images",
        "operation": "find",
        "x": 780,
        "y": 140,
        "wires": [
            [
                "2968775d47f5ff0a"
            ]
        ]
    },
    {
        "id": "2968775d47f5ff0a",
        "type": "function",
        "z": "3658f92f65d797b7",
        "name": "image",
        "func": "if( msg.payload.length !== 1 )\n    return;\nmsg.topic = \"image\";\nmsg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 140,
        "wires": [
            [
                "f176d46fa40bd346"
            ]
        ]
    },
    {
        "id": "f176d46fa40bd346",
        "type": "link out",
        "z": "3658f92f65d797b7",
        "name": "image",
        "mode": "link",
        "links": [
            "597076107473225f"
        ],
        "x": 1095,
        "y": 140,
        "wires": []
    },
    {
        "id": "81fea0c80c7bd309",
        "type": "comment",
        "z": "3658f92f65d797b7",
        "name": "image",
        "info": "",
        "x": 1170,
        "y": 140,
        "wires": []
    },
    {
        "id": "864b5c5e3937b430",
        "type": "ui_dropdown",
        "z": "e1d661b05780e560",
        "name": "Cameras",
        "label": "",
        "tooltip": "",
        "place": "Select camera",
        "group": "a36251364e32fe2d",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": false,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 920,
        "y": 180,
        "wires": [
            [
                "d66f76110b06fe28"
            ]
        ]
    },
    {
        "id": "4d20f2bc5d23592e",
        "type": "ui_dropdown",
        "z": "e1d661b05780e560",
        "name": "Time",
        "label": "",
        "tooltip": "",
        "place": "Select history",
        "group": "a36251364e32fe2d",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Last hour",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Last 3 hours",
                "value": 3,
                "type": "num"
            },
            {
                "label": "Last 6 hours",
                "value": 6,
                "type": "num"
            },
            {
                "label": "Last day",
                "value": 24,
                "type": "num"
            },
            {
                "label": "Last 2 days",
                "value": 48,
                "type": "num"
            },
            {
                "label": "Last week",
                "value": "168",
                "type": "str"
            },
            {
                "label": "Last 2 weeks",
                "value": "336",
                "type": "str"
            },
            {
                "label": "Last Month",
                "value": "672",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 570,
        "y": 240,
        "wires": [
            [
                "47d6bf96173d6a64"
            ]
        ]
    },
    {
        "id": "47d6bf96173d6a64",
        "type": "change",
        "z": "e1d661b05780e560",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "time",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 240,
        "wires": [
            [
                "364bd889c376c90a"
            ]
        ]
    },
    {
        "id": "5a5233d0d08568d0",
        "type": "change",
        "z": "e1d661b05780e560",
        "name": "Reset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "4d20f2bc5d23592e"
            ]
        ]
    },
    {
        "id": "8c89a84efc013ed0",
        "type": "function",
        "z": "e1d661b05780e560",
        "name": "Camera",
        "func": "if( msg.payload.length !== 1 )\n    return;\nmsg.topic = \"camera\";\nmsg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 180,
        "wires": [
            [
                "cb8071f882c3a4e9"
            ]
        ]
    },
    {
        "id": "f9c64213398892d2",
        "type": "ui_dropdown",
        "z": "e1d661b05780e560",
        "name": "Class",
        "label": "",
        "tooltip": "",
        "place": "Object type",
        "group": "a36251364e32fe2d",
        "order": 5,
        "width": "0",
        "height": "0",
        "passthru": false,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 530,
        "y": 460,
        "wires": [
            [
                "d8b559d975335327"
            ]
        ]
    },
    {
        "id": "d8b559d975335327",
        "type": "change",
        "z": "e1d661b05780e560",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "class",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "ea19f2d6dd971265",
        "type": "function",
        "z": "e1d661b05780e560",
        "name": "Cameras",
        "func": "var cameras = global.get(\"cameras\");\n\nmsg.options = [];\nmsg.payload.forEach( function(camera) {\n    var option = {};\n    option[camera.name] = camera.deviceID;\n    msg.options.push(option);\n});\nmsg.payload = null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 180,
        "wires": [
            [
                "864b5c5e3937b430"
            ]
        ]
    },
    {
        "id": "1c311b1a0084f407",
        "type": "function",
        "z": "e1d661b05780e560",
        "name": "Class",
        "func": "msg.options = [\n    \"Person\",\n    \"Car\",\n    \"Truck\",\n    \"Buss\",\n    \"Vehicle\",\n    \"Head\",\n    \"Object\"\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 460,
        "wires": [
            [
                "f9c64213398892d2"
            ]
        ]
    },
    {
        "id": "92e397ab5d5bb229",
        "type": "ui_button",
        "z": "e1d661b05780e560",
        "name": "Reset",
        "group": "a36251364e32fe2d",
        "order": 4,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Reset Filters",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "reset",
        "topicType": "str",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "841d0e21e44495a5",
                "1c311b1a0084f407",
                "ea12b3b15ac4a134",
                "96b5eb6de24f0223",
                "251c9559d63ed83a",
                "70e98831122ecba3",
                "5b09a0c63a564886",
                "b28c1a5057011ecc"
            ]
        ]
    },
    {
        "id": "841d0e21e44495a5",
        "type": "change",
        "z": "e1d661b05780e560",
        "name": "Reset",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "birth",
                "pt": "flow",
                "to": "null",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "death",
                "pt": "flow",
                "to": "null",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "class",
                "pt": "flow",
                "to": "null",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "minAge",
                "pt": "flow",
                "to": "null",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "maxAge",
                "pt": "msg",
                "to": "null",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "vertical",
                "pt": "flow",
                "to": "null",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "horizontal",
                "pt": "flow",
                "to": "null",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "distance",
                "pt": "flow",
                "to": "null",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "minDistance",
                "pt": "flow",
                "to": "null",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "maxDistance",
                "pt": "flow",
                "to": "null",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 400,
        "wires": [
            [
                "3bd482b9089e81c3"
            ]
        ]
    },
    {
        "id": "a3b0e36778b94a0a",
        "type": "ui_dropdown",
        "z": "e1d661b05780e560",
        "name": "Min Age",
        "label": "",
        "tooltip": "",
        "place": "Minimum age",
        "group": "a36251364e32fe2d",
        "order": 6,
        "width": "0",
        "height": "0",
        "passthru": false,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 540,
        "y": 520,
        "wires": [
            [
                "e080af8461578cf0"
            ]
        ]
    },
    {
        "id": "ea12b3b15ac4a134",
        "type": "function",
        "z": "e1d661b05780e560",
        "name": "Min Age",
        "func": "msg.options = [\n    { \"At least 2 s\": 2 },\n    { \"At least 4 s\": 4 },\n    { \"At least 6 s\": 6 },\n    { \"At least 10 s\": 10 },\n    { \"At least 15 s\": 15 },\n    { \"At least 20 s\": 20 },\n    { \"At least 30 s\": 30 }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 520,
        "wires": [
            [
                "a3b0e36778b94a0a"
            ]
        ]
    },
    {
        "id": "8495f137245b902c",
        "type": "change",
        "z": "e1d661b05780e560",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "minAge",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "0ac30a691a493479",
        "type": "ui_button",
        "z": "e1d661b05780e560",
        "name": "Show",
        "group": "a36251364e32fe2d",
        "order": 14,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Show",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 190,
        "y": 960,
        "wires": [
            [
                "36883f72319faee5"
            ]
        ]
    },
    {
        "id": "3bd482b9089e81c3",
        "type": "link out",
        "z": "e1d661b05780e560",
        "name": "Reset",
        "mode": "link",
        "links": [
            "f1685b5b0e483973",
            "0ded6caa548cfa50",
            "3dcf9fe45405d056",
            "867af655244eb862",
            "10f2312f3b37dcbc",
            "5c1757bec784e133",
            "cb5f057e3a19bd0c"
        ],
        "x": 445,
        "y": 400,
        "wires": []
    },
    {
        "id": "487d046027fada7f",
        "type": "comment",
        "z": "e1d661b05780e560",
        "name": "Reset",
        "info": "",
        "x": 530,
        "y": 400,
        "wires": []
    },
    {
        "id": "0c56474b6222ab1b",
        "type": "link out",
        "z": "e1d661b05780e560",
        "name": "Camera",
        "mode": "link",
        "links": [
            "484c227410fafc31",
            "cb5f057e3a19bd0c",
            "5c1757bec784e133"
        ],
        "x": 1805,
        "y": 180,
        "wires": []
    },
    {
        "id": "2054913c07862986",
        "type": "comment",
        "z": "e1d661b05780e560",
        "name": "Camera",
        "info": "",
        "x": 1880,
        "y": 180,
        "wires": []
    },
    {
        "id": "36883f72319faee5",
        "type": "function",
        "z": "e1d661b05780e560",
        "name": "Build query",
        "func": "if( !flow.get(\"camera\") )\n    return;\n    \nmsg.payload = {\n    device: flow.get(\"camera\"),\n    timestamp: {\n        $gte: new Date().getTime() - (flow.get(\"time\")*3600*1000)\n    }\n}\n\nif( flow.get(\"class\") )\n    msg.payload.type = flow.get(\"class\");\n\n\nif( flow.get(\"maxAge\") )\n    msg.payload.age = {$lte: flow.get(\"maxAge\")};\n\nif( flow.get(\"minAge\") )\n    msg.payload.age = {$gte: flow.get(\"minAge\")};\n\n\nif( flow.get(\"maxDistance\") )\n    msg.payload.distance = {$gte: flow.get(\"maxDistance\")};\n\nif( flow.get(\"minDistance\") )\n    msg.payload.distance = {$gte: flow.get(\"minDistance\")};\n\nif( flow.get(\"vertical\") ) {\n    if(flow.get(\"vertical\") === \"Up\" ) {\n        msg.payload.dy = {\n            $lte: 0\n        }\n    }\n    if(flow.get(\"vertical\") === \"Down\" ) {\n        msg.payload.dy = {\n            $gte: 0\n        }\n    }\n}\n\nif( flow.get(\"horizontal\") ) {\n    if(flow.get(\"horizontal\") === \"Left\" ) {\n        msg.payload.dx = {\n            $lte: 0\n        }\n    }\n    if(flow.get(\"horizontal\") === \"Right\" ) {\n        msg.payload.dx = {\n            $gte: 0\n        }\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 960,
        "wires": [
            [
                "216e8ad289763859"
            ]
        ]
    },
    {
        "id": "d5e5d4deb367ce9a",
        "type": "link out",
        "z": "e1d661b05780e560",
        "name": "objectpaths",
        "mode": "link",
        "links": [
            "d76d397809a0bab9"
        ],
        "x": 735,
        "y": 960,
        "wires": []
    },
    {
        "id": "0b42bc5458e8bd57",
        "type": "comment",
        "z": "e1d661b05780e560",
        "name": "Paths",
        "info": "",
        "x": 810,
        "y": 960,
        "wires": []
    },
    {
        "id": "668784cca1430363",
        "type": "ui_dropdown",
        "z": "e1d661b05780e560",
        "name": "Vertical",
        "label": "",
        "tooltip": "",
        "place": "Vertical movement",
        "group": "a36251364e32fe2d",
        "order": 10,
        "width": "0",
        "height": "0",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Up",
                "value": "Up",
                "type": "str"
            },
            {
                "label": "Down",
                "value": "Down",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 540,
        "y": 760,
        "wires": [
            [
                "66423d2f980c052d"
            ]
        ]
    },
    {
        "id": "96b5eb6de24f0223",
        "type": "function",
        "z": "e1d661b05780e560",
        "name": "Vertical",
        "func": "msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 760,
        "wires": [
            [
                "668784cca1430363"
            ]
        ]
    },
    {
        "id": "66423d2f980c052d",
        "type": "change",
        "z": "e1d661b05780e560",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "vertical",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "0d79c41f78842c0f",
        "type": "ui_dropdown",
        "z": "e1d661b05780e560",
        "name": "Horizontal",
        "label": "",
        "tooltip": "",
        "place": "Horizontal movement",
        "group": "a36251364e32fe2d",
        "order": 11,
        "width": "0",
        "height": "0",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Left",
                "value": "Left",
                "type": "str"
            },
            {
                "label": "Right",
                "value": "Right",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 550,
        "y": 800,
        "wires": [
            [
                "ee03b45d134803b8"
            ]
        ]
    },
    {
        "id": "251c9559d63ed83a",
        "type": "function",
        "z": "e1d661b05780e560",
        "name": "Horizontal",
        "func": "msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 800,
        "wires": [
            [
                "0d79c41f78842c0f"
            ]
        ]
    },
    {
        "id": "ee03b45d134803b8",
        "type": "change",
        "z": "e1d661b05780e560",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "horizontal",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "cb8071f882c3a4e9",
        "type": "change",
        "z": "e1d661b05780e560",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camera",
                "pt": "flow",
                "to": "payload.deviceID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1680,
        "y": 180,
        "wires": [
            [
                "0c56474b6222ab1b",
                "c7ab435c0734a51d"
            ]
        ]
    },
    {
        "id": "216e8ad289763859",
        "type": "mongodb in",
        "z": "e1d661b05780e560",
        "mongodb": "b12a9cc543227135",
        "name": "",
        "collection": "objectpath",
        "operation": "find",
        "x": 570,
        "y": 960,
        "wires": [
            [
                "d5e5d4deb367ce9a"
            ]
        ]
    },
    {
        "id": "5702a3d1c5db8588",
        "type": "mongodb in",
        "z": "e1d661b05780e560",
        "mongodb": "b12a9cc543227135",
        "name": "",
        "collection": "cameras",
        "operation": "aggregate",
        "x": 560,
        "y": 180,
        "wires": [
            [
                "ea19f2d6dd971265"
            ]
        ]
    },
    {
        "id": "d66f76110b06fe28",
        "type": "function",
        "z": "e1d661b05780e560",
        "name": "Get Camera",
        "func": "msg.payload = {\n    deviceID: msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 180,
        "wires": [
            [
                "92017f0c31a1c52b"
            ]
        ]
    },
    {
        "id": "92017f0c31a1c52b",
        "type": "mongodb in",
        "z": "e1d661b05780e560",
        "mongodb": "b12a9cc543227135",
        "name": "",
        "collection": "cameras",
        "operation": "find",
        "x": 1290,
        "y": 180,
        "wires": [
            [
                "8c89a84efc013ed0"
            ]
        ]
    },
    {
        "id": "8607fe1371c3e7f2",
        "type": "ui_template",
        "z": "e1d661b05780e560",
        "group": "a36251364e32fe2d",
        "name": "Empty space",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 200,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "e0f8a19ee92ac249",
        "type": "inject",
        "z": "e1d661b05780e560",
        "name": "On boot",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 140,
        "wires": [
            [
                "5702a3d1c5db8588"
            ]
        ]
    },
    {
        "id": "17376a25750cddb8",
        "type": "link in",
        "z": "e1d661b05780e560",
        "name": "Refresh cameras",
        "links": [
            "70b7c814433e76f4"
        ],
        "x": 175,
        "y": 180,
        "wires": [
            [
                "e3a9d7a948e8609f"
            ]
        ]
    },
    {
        "id": "e3a9d7a948e8609f",
        "type": "change",
        "z": "e1d661b05780e560",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camera",
                "pt": "flow",
                "to": "null",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 180,
        "wires": [
            [
                "5702a3d1c5db8588"
            ]
        ]
    },
    {
        "id": "70e98831122ecba3",
        "type": "function",
        "z": "e1d661b05780e560",
        "name": "MinDistance",
        "func": "msg.options = [\n    { \"At least 10% distance\": 10 },\n    { \"At least 20% distance\": 20 },\n    { \"At least 30% distance\": 30 },\n    { \"At least 40% distance\": 40 },\n    { \"At least 50% distance\": 50 },\n    { \"At least 60% distance\": 60 },\n    { \"At least 70% distance\": 70 }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 640,
        "wires": [
            [
                "c913e50931da34e4"
            ]
        ]
    },
    {
        "id": "c913e50931da34e4",
        "type": "ui_dropdown",
        "z": "e1d661b05780e560",
        "name": "Minimum distance",
        "label": "",
        "tooltip": "",
        "place": "Minimum distance",
        "group": "a36251364e32fe2d",
        "order": 8,
        "width": "0",
        "height": "0",
        "passthru": false,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 570,
        "y": 640,
        "wires": [
            [
                "35e840e963208748"
            ]
        ]
    },
    {
        "id": "e1330c01fa80be51",
        "type": "change",
        "z": "e1d661b05780e560",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "minDistance",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "35e840e963208748",
        "type": "function",
        "z": "e1d661b05780e560",
        "name": "Value",
        "func": "msg.payload = parseInt(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 640,
        "wires": [
            [
                "e1330c01fa80be51"
            ]
        ]
    },
    {
        "id": "5b09a0c63a564886",
        "type": "function",
        "z": "e1d661b05780e560",
        "name": "MaxDistance",
        "func": "msg.options = [\n    { \"Less than 10% distance\": 10 },\n    { \"Less than 20% distance\": 20 },\n    { \"Less than 30% distance\": 30 },\n    { \"Less than 40% distance\": 40 },\n    { \"Less than 50% distance\": 50 },\n    { \"Less than 60% distance\": 60 },\n    { \"Less than 70% distance\": 70 }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 680,
        "wires": [
            [
                "56e2e71e8b40aa7a"
            ]
        ]
    },
    {
        "id": "56e2e71e8b40aa7a",
        "type": "ui_dropdown",
        "z": "e1d661b05780e560",
        "name": "Minimum distance",
        "label": "",
        "tooltip": "",
        "place": "Maximum Distance",
        "group": "a36251364e32fe2d",
        "order": 9,
        "width": "0",
        "height": "0",
        "passthru": false,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 570,
        "y": 680,
        "wires": [
            [
                "2f050aeeb12dfa7b"
            ]
        ]
    },
    {
        "id": "2f050aeeb12dfa7b",
        "type": "function",
        "z": "e1d661b05780e560",
        "name": "Value",
        "func": "msg.payload = parseInt(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 680,
        "wires": [
            [
                "bd244c9b8fb7c47d"
            ]
        ]
    },
    {
        "id": "bd244c9b8fb7c47d",
        "type": "change",
        "z": "e1d661b05780e560",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "maxDistance",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "e9f4609ecc47020b",
        "type": "ui_dropdown",
        "z": "e1d661b05780e560",
        "name": "Max Age",
        "label": "",
        "tooltip": "",
        "place": "Maximum age",
        "group": "a36251364e32fe2d",
        "order": 7,
        "width": "0",
        "height": "0",
        "passthru": false,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 540,
        "y": 560,
        "wires": [
            [
                "d88ef99ea77dd7ab"
            ]
        ]
    },
    {
        "id": "cc419da0168d1260",
        "type": "change",
        "z": "e1d661b05780e560",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "maxAge",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "e080af8461578cf0",
        "type": "function",
        "z": "e1d661b05780e560",
        "name": "Value",
        "func": "msg.payload = parseInt(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 520,
        "wires": [
            [
                "8495f137245b902c"
            ]
        ]
    },
    {
        "id": "d88ef99ea77dd7ab",
        "type": "function",
        "z": "e1d661b05780e560",
        "name": "Value",
        "func": "msg.payload = parseInt(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 560,
        "wires": [
            [
                "cc419da0168d1260"
            ]
        ]
    },
    {
        "id": "b28c1a5057011ecc",
        "type": "function",
        "z": "e1d661b05780e560",
        "name": "Max Age",
        "func": "msg.options = [\n    { \"Less than 2 s age\": 2 },\n    { \"Less than 3 s age\": 3 },\n    { \"Less than 4 s age\": 4 },\n    { \"Less than 6 s age\": 6 },\n    { \"Less than 10 s age\": 10 },\n    { \"Less than 20 s age\": 20 }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 560,
        "wires": [
            [
                "e9f4609ecc47020b"
            ]
        ]
    },
    {
        "id": "af1b835de62ff933",
        "type": "inject",
        "z": "e1d661b05780e560",
        "name": "On boot",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "5a5233d0d08568d0"
            ]
        ]
    },
    {
        "id": "d7f8d78d063b714e",
        "type": "link in",
        "z": "e1d661b05780e560",
        "name": "",
        "links": [
            "c7ab435c0734a51d",
            "364bd889c376c90a"
        ],
        "x": 245,
        "y": 1000,
        "wires": [
            [
                "36883f72319faee5"
            ]
        ]
    },
    {
        "id": "c7ab435c0734a51d",
        "type": "link out",
        "z": "e1d661b05780e560",
        "name": "",
        "mode": "link",
        "links": [
            "d7f8d78d063b714e"
        ],
        "x": 1805,
        "y": 220,
        "wires": []
    },
    {
        "id": "364bd889c376c90a",
        "type": "link out",
        "z": "e1d661b05780e560",
        "name": "",
        "mode": "link",
        "links": [
            "d7f8d78d063b714e"
        ],
        "x": 895,
        "y": 240,
        "wires": []
    },
    {
        "id": "bcc9b1262099e2f4",
        "type": "comment",
        "z": "e1d661b05780e560",
        "name": "Query",
        "info": "",
        "x": 190,
        "y": 1000,
        "wires": []
    },
    {
        "id": "15954c926c8a592a",
        "type": "comment",
        "z": "e1d661b05780e560",
        "name": "Query",
        "info": "",
        "x": 1890,
        "y": 220,
        "wires": []
    },
    {
        "id": "9b22d99865cbfc7e",
        "type": "comment",
        "z": "e1d661b05780e560",
        "name": "Query",
        "info": "",
        "x": 970,
        "y": 240,
        "wires": []
    },
    {
        "id": "48d08537b75a1ff1",
        "type": "mqtt in",
        "z": "251e28d43075d4af",
        "name": "",
        "topic": "objectpath/detection/#",
        "qos": "2",
        "datatype": "json",
        "broker": "260e45057b94b302",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 100,
        "wires": [
            [
                "b2920347a89cd63e"
            ]
        ]
    },
    {
        "id": "b2920347a89cd63e",
        "type": "mongodb out",
        "z": "251e28d43075d4af",
        "mongodb": "b12a9cc543227135",
        "name": "",
        "collection": "objectpath",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "c45f9e50fbf5cb85",
        "type": "inject",
        "z": "251e28d43075d4af",
        "name": "Every midnight",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "01 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "c6085e354b348fe1"
            ]
        ]
    },
    {
        "id": "c6085e354b348fe1",
        "type": "function",
        "z": "251e28d43075d4af",
        "name": "Retnetion 3 months",
        "func": "msg.payload = {\n    timestamp: {\n        $lte: new Date().getTime() - (3 * 31 * 24 * 3660 * 1000)\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 160,
        "wires": [
            [
                "3a95e4e0d0961a70"
            ]
        ]
    },
    {
        "id": "3a95e4e0d0961a70",
        "type": "mongodb out",
        "z": "251e28d43075d4af",
        "mongodb": "b12a9cc543227135",
        "name": "",
        "collection": "objectpath",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "dd02a9dcbbe6ef02",
        "type": "inject",
        "z": "251e28d43075d4af",
        "name": "Every midnight",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "01 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "d043b32870525baf"
            ]
        ]
    },
    {
        "id": "d043b32870525baf",
        "type": "function",
        "z": "251e28d43075d4af",
        "name": "Retention 1 week",
        "func": "msg.payload = {\n    timestamp: {\n        $lte: new Date().getTime() - (7 * 24 * 3660 * 1000)\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 200,
        "wires": [
            [
                "2b5cebfa300dbffc"
            ]
        ]
    },
    {
        "id": "2b5cebfa300dbffc",
        "type": "mongodb out",
        "z": "251e28d43075d4af",
        "mongodb": "b12a9cc543227135",
        "name": "",
        "collection": "images",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 690,
        "y": 200,
        "wires": []
    },
    {
        "id": "a6006e34179d2d40",
        "type": "axis-camera",
        "z": "28ebc073.75bf28",
        "name": "",
        "preset": "0c3b4ea904d339eb",
        "action": "Camera Info",
        "resolution": "640x360",
        "output": "Base64",
        "filename": "",
        "options": "",
        "x": 530,
        "y": 200,
        "wires": [
            [
                "89ef3f961bd6aafb"
            ],
            []
        ]
    },
    {
        "id": "3b2992fba60190ac",
        "type": "axis-camera",
        "z": "28ebc073.75bf28",
        "name": "",
        "preset": "0c3b4ea904d339eb",
        "action": "JPEG Image",
        "resolution": "640x360",
        "output": "Base64",
        "filename": "",
        "options": "",
        "x": 530,
        "y": 260,
        "wires": [
            [
                "cf1b1aec8f1bb214"
            ],
            []
        ]
    },
    {
        "id": "16196afcd0684f50",
        "type": "axis-device",
        "z": "28ebc073.75bf28",
        "name": "",
        "preset": "0c3b4ea904d339eb",
        "action": "Device Info",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 530,
        "y": 140,
        "wires": [
            [
                "79e33cf8725a0bd3",
                "d6fd434ce037d2c3"
            ],
            []
        ]
    },
    {
        "id": "6470d606df30ca9a",
        "type": "function",
        "z": "28ebc073.75bf28",
        "name": "msg.camera",
        "func": "msg.camera = {\n    deviceID: msg.payload.serial,\n    name: msg.name || msg.payload.serial,\n    address: msg.address,\n    image: null\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 140,
        "wires": [
            [
                "a6006e34179d2d40"
            ]
        ]
    },
    {
        "id": "79e33cf8725a0bd3",
        "type": "switch",
        "z": "28ebc073.75bf28",
        "name": "Error",
        "property": "error",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 80,
        "wires": [
            [
                "58a3bde00eaeb02d"
            ]
        ]
    },
    {
        "id": "d6fd434ce037d2c3",
        "type": "switch",
        "z": "28ebc073.75bf28",
        "name": "OK",
        "property": "error",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 140,
        "wires": [
            [
                "6470d606df30ca9a"
            ]
        ]
    },
    {
        "id": "89ef3f961bd6aafb",
        "type": "function",
        "z": "28ebc073.75bf28",
        "name": "msg.camera",
        "func": "if(msg.error !== false )\n    return msg;\n\nmsg.camera.image = {\n    resolution: msg.payload.medium,\n    aspect: msg.payload.aspect,\n    rotation: msg.payload.rotation,\n    jpeg: null\n}\nmsg.resolution = msg.camera.image.resolution;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 200,
        "wires": [
            [
                "3b2992fba60190ac"
            ]
        ]
    },
    {
        "id": "cf1b1aec8f1bb214",
        "type": "function",
        "z": "28ebc073.75bf28",
        "name": "msg.camera",
        "func": "if(msg.error !== false )\n    return msg;\n\nmsg.camera.image.jpeg = msg.payload;\nmsg.payload = msg.camera;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 260,
        "wires": [
            [
                "5f0597919a6f7851"
            ]
        ]
    },
    {
        "id": "2c5528b799c111f0",
        "type": "mongodb out",
        "z": "28ebc073.75bf28",
        "mongodb": "b12a9cc543227135",
        "name": "",
        "collection": "cameras",
        "payonly": false,
        "upsert": true,
        "multi": false,
        "operation": "update",
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "5f0597919a6f7851",
        "type": "function",
        "z": "28ebc073.75bf28",
        "name": "Update",
        "func": "msg.query = {\n    deviceID: msg.payload.deviceID\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 320,
        "wires": [
            [
                "2c5528b799c111f0",
                "70b7c814433e76f4"
            ]
        ]
    },
    {
        "id": "6c5dfc0e5dfc67ba",
        "type": "mongodb in",
        "z": "28ebc073.75bf28",
        "mongodb": "b12a9cc543227135",
        "name": "",
        "collection": "cameras",
        "operation": "aggregate",
        "x": 390,
        "y": 500,
        "wires": [
            [
                "329e3619966aa3fb"
            ]
        ]
    },
    {
        "id": "70b7c814433e76f4",
        "type": "link out",
        "z": "28ebc073.75bf28",
        "name": "Camera",
        "mode": "link",
        "links": [
            "17376a25750cddb8",
            "2975f4c99931c491"
        ],
        "x": 695,
        "y": 380,
        "wires": []
    },
    {
        "id": "749d9bce0cb9cf51",
        "type": "ui_form",
        "z": "28ebc073.75bf28",
        "name": "",
        "label": "",
        "group": "8ac77bf8599762bf",
        "order": 12,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Camera Name",
                "value": "name",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Address",
                "value": "address",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "name": "",
            "address": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "0414f46a390bcf56"
            ]
        ]
    },
    {
        "id": "0414f46a390bcf56",
        "type": "change",
        "z": "28ebc073.75bf28",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "address",
                "pt": "msg",
                "to": "payload.address",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "name",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 140,
        "wires": [
            [
                "16196afcd0684f50"
            ]
        ]
    },
    {
        "id": "58a3bde00eaeb02d",
        "type": "change",
        "z": "28ebc073.75bf28",
        "name": "Message",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Could not add camera",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Check addres, user, password and connection.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 80,
        "wires": [
            [
                "010f9b9bb322281e"
            ]
        ]
    },
    {
        "id": "010f9b9bb322281e",
        "type": "ui_toast",
        "z": "28ebc073.75bf28",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1030,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "4696d9710b4da495",
        "type": "ui_button",
        "z": "28ebc073.75bf28",
        "name": "",
        "group": "21eb74a18b2872fc",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 500,
        "wires": [
            [
                "6c5dfc0e5dfc67ba"
            ]
        ]
    },
    {
        "id": "329e3619966aa3fb",
        "type": "ui_table",
        "z": "28ebc073.75bf28",
        "group": "21eb74a18b2872fc",
        "name": "",
        "order": 2,
        "width": "12",
        "height": "12",
        "columns": [
            {
                "field": "name",
                "title": "Name",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "address",
                "title": "Address",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "deviceID",
                "title": "Serial",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 670,
        "y": 500,
        "wires": []
    },
    {
        "id": "c78d8636e5de4d4a",
        "type": "inject",
        "z": "28ebc073.75bf28",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 540,
        "wires": [
            [
                "6c5dfc0e5dfc67ba"
            ]
        ]
    },
    {
        "id": "2975f4c99931c491",
        "type": "link in",
        "z": "28ebc073.75bf28",
        "name": "",
        "links": [
            "70b7c814433e76f4"
        ],
        "x": 205,
        "y": 460,
        "wires": [
            [
                "6c5dfc0e5dfc67ba"
            ]
        ]
    },
    {
        "id": "0418cb315f7876c3",
        "type": "comment",
        "z": "28ebc073.75bf28",
        "name": "Camera",
        "info": "",
        "x": 770,
        "y": 380,
        "wires": []
    },
    {
        "id": "768ca9b59c38c7c3",
        "type": "mqtt in",
        "z": "136ec2e31eae94eb",
        "name": "",
        "topic": "objectpath/detection/#",
        "qos": "2",
        "datatype": "json",
        "broker": "260e45057b94b302",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 160,
        "wires": [
            [
                "c24eabd703bdb106"
            ]
        ]
    },
    {
        "id": "73e6c1d4638a7ab6",
        "type": "axis-device",
        "z": "136ec2e31eae94eb",
        "name": "",
        "preset": "0c3b4ea904d339eb",
        "action": "HTTP Get",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 670,
        "y": 220,
        "wires": [
            [
                "95343f7c8fd5b539",
                "aaf6af7486ae7adf"
            ],
            []
        ]
    },
    {
        "id": "95343f7c8fd5b539",
        "type": "switch",
        "z": "136ec2e31eae94eb",
        "name": "Success",
        "property": "error",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 220,
        "wires": [
            [
                "c049183ad3632202",
                "8e5fee2fb6fe3acc"
            ]
        ]
    },
    {
        "id": "c049183ad3632202",
        "type": "mongodb out",
        "z": "136ec2e31eae94eb",
        "mongodb": "b12a9cc543227135",
        "name": "",
        "collection": "images",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 1150,
        "y": 220,
        "wires": []
    },
    {
        "id": "aaf6af7486ae7adf",
        "type": "switch",
        "z": "136ec2e31eae94eb",
        "name": "Error",
        "property": "error",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 940,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "3dbc471162db0254",
        "type": "change",
        "z": "136ec2e31eae94eb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "objectpath",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 160,
        "wires": [
            [
                "82af2c4969a7c2fe"
            ]
        ]
    },
    {
        "id": "c24eabd703bdb106",
        "type": "function",
        "z": "136ec2e31eae94eb",
        "name": "Camera filter",
        "func": "if( msg.payload.device === \"ACCC8EF33E99\")\n    return;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 160,
        "wires": [
            [
                "3dbc471162db0254"
            ]
        ]
    },
    {
        "id": "82af2c4969a7c2fe",
        "type": "function",
        "z": "136ec2e31eae94eb",
        "name": "Find camera",
        "func": "msg.payload = {\n    deviceID: msg.payload.device\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 160,
        "wires": [
            [
                "c29ac87d407a9bce"
            ]
        ]
    },
    {
        "id": "c29ac87d407a9bce",
        "type": "mongodb in",
        "z": "136ec2e31eae94eb",
        "mongodb": "b12a9cc543227135",
        "name": "",
        "collection": "cameras",
        "operation": "find",
        "x": 1150,
        "y": 160,
        "wires": [
            [
                "376e9ad93fb582cb"
            ]
        ]
    },
    {
        "id": "376e9ad93fb582cb",
        "type": "function",
        "z": "136ec2e31eae94eb",
        "name": "get image",
        "func": "if( msg.payload.length !== 1 )\n    return;\nmsg.camera = msg.payload[0];\nmsg.address = msg.camera.address;\nmsg.cgi = '/local/objectpath/path?image=' + msg.objectpath.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 220,
        "wires": [
            [
                "73e6c1d4638a7ab6"
            ]
        ]
    },
    {
        "id": "b97581f498ac6826",
        "type": "comment",
        "z": "136ec2e31eae94eb",
        "name": "Disable this tab if you do not want to capture and store images",
        "info": "",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "8e5fee2fb6fe3acc",
        "type": "function",
        "z": "136ec2e31eae94eb",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 300,
        "wires": [
            []
        ]
    }
]